#new {
  border: 1px solid orange;
  height: 300px;
}

.bg1 {
  border: 1px solid red;
  height: 300px;
}

.bg {
  border: 1px solid green;
  height: 300px;
}

.img {
  background-image: url(Suzuki-Cultus-2017.webp);
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
  /* background-size: contain; */
  background-attachment: fixed;
  background-position: center;
}
